.search-form {
  max-width: 1000px;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.search-bar{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex: 1;
  border: none;
  border-radius: 10px;
  background-color: #1a1a32;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}


.search-bar span {
  color: #9393c8;
  font-size: 1.5rem;
}

.search-bar:focus-within {
  outline: none;
  box-shadow: 0 0 0 2px #1a1a32;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  outline: none;

}

.search-input::placeholder {
  color: #9393c8;
}
